<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Otika - Admin Dashboard Template</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="/assets/css/app.min.css">
  <link rel="stylesheet" href="/assets/bundles/datatables/datatables.min.css">
  <link rel="stylesheet" href="/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- Template CSS -->
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/components.css">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="/assets/css/custom.css">
  <link rel='shortcut icon' type='image/x-icon' href='/assets/img/favicon.ico' />
</head>

<body>
  <div class="loader"></div>
  {{> sidebar-navbar }}
    <!-- Main Content -->
    <div class="main-content">
      <section class="section">
        <div class="section-body">
          <!-- add content here -->
          <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Facturas de Compra </h4>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped" id="table-1">
                        <thead>
                          <tr>
                            <th class="text-center">Codigo factura</th>
                            <th class="text-center">Expedida por</th>
                            <th class="text-center">Tercero</th>
                            <th class="text-center">Monto total</th>
                            <th class="text-center">Fecha expedida</th>
                            <th class="text-center">Fecha asentada</th>
                            <th class="text-center">Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          {{#if rol}}
                            {{#each data}}
                            <tr>
                              <td class="text-center">{{codigo}}</td>
                              <td class="text-center">{{username}}</td>
                              <td class="text-center">{{nombreter}}</td>
                              <td class="text-center">{{decimalToCop total}}</td>
                              <td class="text-center">{{fechaFormats fecha}}</td>
                              <td class="text-center">{{fechaFormats fechasent}}</td>
                              <td> 
                                  {{#if fechasent}}
                                    <a href="" class="btn btn-warning"><i class="fas fa-file-excel"></i></a>                   
                                    <a href="/facturacompra/ver/{{facturaid}}" class="btn btn-info"><i class="fas fa-eye"></i></a>
                                  {{else}}
                                    <a href="/facturacompra/asentar/{{facturaid}}" class="btn btn-success"><i class="fas fa-file-download"></i></a>
                                    <a href="/facturacompra/ver/{{facturaid}}" class="btn btn-info"><i class="fas fa-eye"></i></a>
                                    <a href="/tercero/actualizar/{{terceroid}}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                                    <a onclick="eliminarFactura({{facturaid}}, '{{codigo}}')" class="btn btn-danger"><i >X</i></a>
                                  {{/if}}
                              </td>
                            </tr>
                            {{/each}}
                          {{else}}
                            {{#each data}}
                            <tr>
                              <td class="text-center">{{codigo}}</td>
                              <td class="text-center">{{username}}</td>
                              <td class="text-center">{{nombreter}}</td>
                              <td class="text-center">{{decimalToCop total}}</td>
                              <td class="text-center">{{fechaFormats fecha}}</td>
                              <td class="text-center">{{fechaFormats fechasent}}</td>
                              <td>
                                {{#if fechasent}}
                                    <a href="/tercero/actualizar/{{terceroid}}" class="btn btn-primary"><i class="fas fa-edit"></i></a>                                    
                                  {{else}}
                                    <a href="/tercero/actualizar/{{terceroid}}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                                    <a onclick="eliminarFactura({{facturaid}}, '{{codigo}}')" class="btn btn-danger"><i >X</i></a>
                                  {{/if}}
                              </td>
                            </tr>
                            {{/each}}
                          {{/if}}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </section>
    </div>
    <footer class="main-footer">
      <div class="footer-left">
        Copyright &copy; 2019 <div class="bullet"></div> Design By <a href="#">Redstar</a>
      </div>
      <div class="footer-right">
      </div>
    </footer>
  </div>
  <!-- General JS Scripts -->
  <script src="/assets/js/app.min.js"></script>
  <!-- JS Libraies -->
  <script src="/assets/bundles/datatables/datatables.min.js"></script>
  <script src="/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
  <script src="/assets/bundles/jquery-ui/jquery-ui.min.js"></script>
  <!-- Page Specific JS File -->
  <script src="/assets/js/page/datatables.js"></script>
  <script src="/assets/jsaux/facturacion/eliminarFactura.js"></script>
  <!-- Template JS File -->
  <script src="/assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="/assets/js/custom.js"></script>
</body>

</html>